.desplegable {
    position: fixed;
    width: 30%;
    left: 20%;
    top: -70vh;
    background-color: $black-brightest;
    border-top-color: $white;
    transition: 0.4s;
    z-index: 500;
}

.desplegable.--active{
    top:14vh;
}

.desplegable ul {
    border-top-color:$white;
}
.desplegable li{
    font-family: $font-stack;
    padding: 0.6em 3%;
    color: $white;
  
}

.desplegable li:first-child{
    background-color: $black-brightest;
}
.desplegable li input{
    background-color: $black-brightest;
    border:none;
    width: 95.5%;
}
.desplegable li svg{
    width: 1em;
    fill:$white;
}

