/*====================
======Typography======
======================*/

h1{
    color:$white;
}
h2, h3, h4, h5, h6, a, p {
    color: $black;
}

h1, h2, h3, h4 {
    font-family: $font-stack;
}

h5, h6, a, td, p, button, label {
    font-family: $font-stack-condensed;
}


h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

.principal-noticia h2{
    font-size: 2em;
}

.ante-titulo-list li{
    display: inline;
    font-family: $font-stack-condensed;
    font-size: 0.8em;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

.subseccion p{
    color: $color-primary;
}

.periodista p{
    color:$black-brightest;
}
.islas p{
    color: $black;
    font-size: 0.8em;
}
