//typography
$font-stack: "Roboto", sans-serif;
$font-stack-condensed: "Roboto Condensed";
$font-base: 'Times New Roman';

//colors

$color-primary: rgb(204, 0, 0);
$color-primary-darker: rgb(153, 0, 0);
$color-primary-darkest: rgb(102, 0, 0);
$color-secondary: rgb(255, 200, 0);
$color-secondary-darker: rgb(204, 160, 0);
$color-secondary-darkest: rgb(153, 120, 0);

$grey: rgb(230, 230, 230);
$grey-darker: rgb(204, 204, 204);
$grey-darkest: rgb(179, 179, 179);
$black: rgb(0, 0, 0);
$black-brighter: rgb(26, 26, 26);
$black-brightest: rgb(51, 51, 51);
$white: rgb(255, 255, 255);